<?xml version="1.0" encoding="UTF-8" ?> 
  <?eclipse version="3.0"?> 
 <!--  Copyright (c) 1983-2023 Rocket Software, Inc. or its affiliates. All Rights Reserved. 
       Please note, this file is in subdirectory "plugins", because a root "plugin.xml"
       is already in rochade_vis.jar. 
  --> 
 <plugin>
    <requires>
       <import plugin="com.rochade.vis"/>
    </requires>
    
    <!-- appid wtb --> 
    
    <extension
          point="com.rochade.vis.applications">
       <application
             extends="srap"
             id="wtb">
       </application>
    </extension>
    <!--
    <extension
          point="com.rochade.vis.objectModels">
       <objectModel
             appId="wtb"
             dataStoreInitCapacity="1023"
             dataStoreRefType="weak"
             dataStoreSortType="preserved"
             objectFactory="com.rochade.vis.srap.workspace.SrapObjectFactoryX"
             propFactory="com.rochade.vis.srap.workspace.SrapDataPropFactory"
             workSpace="com.rochade.vis.srap.workspace.SrapWorkspace">
          <modelTranslator
               class="com.rochade.wa.ui.navtree.NavTreeModelTranslator"
               id="Portfolios">
          </modelTranslator>
          <modelTranslator
               class="com.rochade.wa.ui.typetree.TypeTreeModelTranslator"
               id="SubjectAreas">
          </modelTranslator>
       </objectModel>
    </extension>
    -->
    <extension
          point="com.rochade.vis.stringResources">
       <stringResource
             appId="wtb">
          <file
                bundle="model.properties">
          </file>
       </stringResource>
    </extension>
    <extension
         point="com.rochade.vis.srap.dataSpaces">
         <dataSpace
               application="com.rochade.vis.srap.startup.ApplicationWrapper"
               applicationAdmin="com.rochade.vis.srap.startup.ApplicationAdminWrapper"
               applicationConfig="com.rochade.vis.srap.startup.ApplicationConfigWrapper"
               componentId="wtb"
               connection="com.rochade.wa.srap.WAConnection"
               database="com.rochade.vis.srap.startup.DatabaseWrapper"
               dataspace="com.rochade.wa.srap.WADataSpace"
               modelAdmin="com.rochade.vis.srap.startup.MetaModelAdminWrapper"
               userAdmin="com.rochade.vis.srap.startup.UserAdminWrapper"
               rochade="com.rochade.vis.srap.startup.RochadeWrapper"
               serverAdmin="com.rochade.vis.srap.startup.ServerAdminWrapper"
               databaseAdmin="com.rochade.vis.srap.startup.DatabaseAdminWrapper">
         </dataSpace>
    </extension>
        
    <extension
        point="com.rochade.vis.objects">
      	<object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapItem"
            icon="/img/icon/Item.gif"
            id="Item"
            isAssoc="false"/>
        <!--object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapObject"
            icon="/img/icon/Subjectarea.gif"
            icon_inactive="/img/icon/SubjectareaClose.gif"
            id="SubjectArea"
            isAssoc="false"/>
        <object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapObject"
            icon="/img/icon/Type.gif"
            id="ItemType"
            isAssoc="false"/>
        <object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapObject"
            icon="/img/icon/Portfolio.gif"
            id="Root"
            isAssoc="false"/>
        <object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapObject"
            icon="/img/icon/Server.gif"
            id="Server"
            isAssoc="false"/>
        <object
            appId="wtb"
            class="com.rochade.vis.srap.workspace.SrapObject"
            icon="/img/icon/Database.gif"
            id="Database"
            isAssoc="false"/-->
   	</extension>

	<extension
        point="com.rochade.vis.shapeResources">
   	   <shapeResource appId="wtb"> 
			<file 
				bundle="/tableShapes.properties" 
				name="/tableShapes.xml">
			</file> 
		</shapeResource>
    </extension> 
 
    <extension
          point="com.rochade.vis.similarityResources">
       <similarityResource
             appId="wtb">
          <file
                bundle="similarity.properties">
          </file>
       </similarityResource>
    </extension>  
</plugin>
 