<?xml version="1.0" encoding="UTF-8" ?> 
  <?eclipse version="3.0"?> 
 <!--  Copyright (c) 1983-2023 Rocket Software, Inc. or its affiliates. All Rights Reserved. 
       Please note, this file is in subdirectory "plugins", because a root "plugin.xml"
       is already in rochade_vis.jar. 
  --> 
 <plugin>
    <requires>
       <import plugin="com.rochade.vis"/>
    </requires>
    
    <!-- appid searchApps --> 
    
    <extension
          point="com.rochade.vis.applications">
       <application
             extends="srap"
             id="searchApps">
       </application>
    </extension>

    <extension
          point="com.rochade.vis.stringResources">
       <stringResource
             appId="searchApps">
          <file
				bundle="model_all.properties">
          </file>
       </stringResource>
    </extension>
	
	<!-- Define again the Object Model configuration (so the class to use as Workspace)
	Normally this is useless, because the 'searchApps' plugin inherits from the 'srap' plugin
	(which is defined into rochade_srap.jar/com/rochade/vis/srap/plugin.xml),
	BUT on gechem8rochpoc2 test machine we have seen some problem with the 'searchApps' plugin:
	'java.lang.IllegalArgumentException: No workspace class registered for application "searchApps".'
	Impossible to understand why that happens neither to reproduce
	-->
	<extension
		id="srapObjects"
		point="com.rochade.vis.objectModels">
		<objectModel
			appId="searchApps"
			dataStoreInitCapacity="1023"
			dataStoreRefType="weak"
			dataStoreSortType="preserved"
			objectFactory="com.rochade.vis.srap.workspace.SrapObjectFactoryX"
			propFactory="com.rochade.vis.srap.workspace.SrapDataPropFactory"
			workSpace="com.rochade.vis.srap.workspace.SrapWorkspace">
		</objectModel>
	</extension>
    
    <!--
    <extension
         point="com.rochade.vis.srap.dataSpaces">
         <dataSpace
               application="com.rochade.vis.srap.startup.ApplicationWrapper"
               applicationAdmin="com.rochade.vis.srap.startup.ApplicationAdminWrapper"
               applicationConfig="com.rochade.vis.srap.startup.ApplicationConfigWrapper"
               componentId="searchApps"
               connection="com.rochade.wa.srap.WAConnection"
               database="com.rochade.vis.srap.startup.DatabaseWrapper"
               dataspace="com.rochade.wa.srap.WADataSpace"
               modelAdmin="com.rochade.vis.srap.startup.MetaModelAdminWrapper"
               userAdmin="com.rochade.vis.srap.startup.UserAdminWrapper"
               rochade="com.rochade.vis.srap.startup.RochadeWrapper"
               serverAdmin="com.rochade.vis.srap.startup.ServerAdminWrapper"
               databaseAdmin="com.rochade.vis.srap.startup.DatabaseAdminWrapper">
         </dataSpace>
    </extension>
    -->

</plugin>